<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HERE something was blocked!</title>
        <meta name="viewport" content="initial-scale=1.0, width=device-width">

        <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-pano.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

        <link rel="stylesheet" href={{ url_for("static", filename="css/app.css") }}>
        <link rel="stylesheet" href={{ url_for("static", filename="css/bootstrap.min.css") }}>
    </head>
    <body>
        <div class="row" style="margin-top: 10px; text-align: center;">
          <div class="col-md-9">
              <h2 class="container">Карта блокировки датацентров</h2>
              <h4>Где не стоит разворачивать свой сервис? Что новенького в реестре? Где находятся сервера, которые не любит ФСКН?</h4>
              <h5 class="container">Радиус круга соотносится с количеством заблокированных IP-адресов на этой локации</h5>
              <h5 class="container">Воспользуйтесь меню справа для фильтрации по ведомствам и дате внесения в реестр</h5>
          </div>
        </div>
        <div class="row" style="margin-top: 30px">
          <div class="col-md-9">
              <div id="map-container" class="map"></div>
          </div>

          <div class="col-md-2">
            <div class="card" style="width: 25rem;">
              <div class="card-body">
               <form action="/filter" method="post" target="dummyframe" id="submitform">
                  <fieldset class="form-group">
                      <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="select_all">
                          <label class="custom-control-label" for="select_all"><u>Выбрать все</u></label>
                      </div>
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="FNS" name="FNS">
                          <label class="custom-control-label" for="FNS">ФНС</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="COURT" name="COURT">
                          <label class="custom-control-label" for="COURT">Суд</label><br>
                      </div>
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="GP" name="GP">
                          <label class="custom-control-label" for="GP">Генпрокуратура</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="RKN" name="RKN">
                          <label class="custom-control-label" for="RKN">Роскомнадзор</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="MVD" name="MVD">
                          <label class="custom-control-label" for="MVD">МВД</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="FSKN" name="FSKN">
                          <label class="custom-control-label" for="FSKN">ФСКН</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="MGCOURT" name="MGCOURT">
                          <label class="custom-control-label" for="MGCOURT">Мосгорсуд</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="RPN" name="RPN">
                          <label class="custom-control-label" for="RPN">Роспотребнадзор</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="MKS" name="MKS">
                          <label class="custom-control-label" for="MKS">Минкомсвязь</label>
                      </div>
                  </fieldset>
                    <div id="reportrange" name="reportrange" class="input-group mb-3"" style="background: #fff; cursor: pointer; padding: 2px 2px; width: 100%">
                        <div class="input-group">
                            <span class="input-group-addon" id="calendar"><span class="glyphicon glyphicon-calendar fa fa-calendar"><b class="caret"></b></span></span>
                        </div>
                        <input name="range" type="text" class="form-control"></input>
                    </div>
                    <br>
                  <input type="submit" class="btn btn-info" id="submit_orgs" value="Фильтровать">
                </form>
              </div>
            </div>
          </div>
        </div>

        <script type="text/javascript">
          var mapContainer = document.getElementById('map-container');

          var platform = new H.service.Platform({
            app_id: 'o8laThovktF2GpayPtsu',
            app_code: 'gzc292l_SP7HGieBMAxCtw',
          });

          var RknCoordinates = {
            lat: 55.7515732,
            lng: 37.6363895
          };

          var mapOptions = {
            zoom: 2,
            height: 600,
            width: 900
          };

          var defaultLayers = platform.createDefaultLayers();

          var map = new H.Map(
            mapContainer,
            defaultLayers.normal.map,
            mapOptions);

          var circles = []

          var iconUrl = '{{url_for("static", filename="img/scull.png")}}';

var iconOptions = {
      size: new H.math.Size(50, 50),
              anchor: new H.math.Point(25, 25)
};

var markerOptions = {
       icon: new H.map.Icon(iconUrl, iconOptions)
};

var marker = new H.map.Marker(RknCoordinates, markerOptions);
map.addObject(marker);

          map.setBaseLayer(defaultLayers.terrain.map);
          var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
          var ui = H.ui.UI.createDefault(map, defaultLayers);
          
          setInterval(function() {
            for (var i = 0; i < circles.length; ++i) {
              var lat = circles[i].geom.getCenter().lat;
              circles[i].geom.setRadius((256000*Math.log(circles[i].size)*Math.cos((180 / Math.PI)*lat) + 500) / (2 << map.getZoom()));
            }
          }, 500);


          window.addEventListener('resize', function () {
            map.getViewPort().resize();
          });
          
          $('#submitform').submit(function(e){
            e.preventDefault();
            $.ajax({
              url:'/filter',
              type:'post',
              data:$('#submitform').serialize(),
              success:function(points){
                for (var i = 0; i < circles.length; ++i) {
                  map.removeObject(circles[i].geom);
                }
                circles = [];
                for (var i = 0; i < points.length; ++i) {
                  circles.push({size: points[i].count, geom: new H.map.Circle(
                    { lat: points[i].lat, lng: points[i].lng },
                    (256000*Math.log(points[i].count)*Math.cos((180 / Math.PI)*points[i].lat) + 500) / (2 << map.getZoom()),
                    {style: {fillColor: points[i].color, strokeColor: 'black', lineWidth: 0.3}})
                  });
                  map.addObject(circles[i].geom);
                }
              }
            });
          });
        </script>

        <script src={{ url_for("static", filename="js/bootstrap.min.js") }}></script>
        <script type="text/javascript">
        $("#select_all").change(function(){ 
            $(":checkbox").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
        });
 
        $(':checkbox').change(function(){ 
            if(false == $(this).prop("checked")){ //if this item is unchecked
                $("#select_all").prop('checked', false); //change "select all" checked status to false
            }
            if ($(':checkbox:checked').length == $(':checkbox').length ){
              $("#select_all").prop('checked', true);
            }
        });

        $(function() {

            var start = moment().subtract(10, 'years');
            var end = moment();

            function cb(start, end) {
                $('#reportrange input').val(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                   'Today': [moment(), moment()],
                   'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                   'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                   'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                   'This Month': [moment().startOf('month'), moment().endOf('month')]
                }
            }, cb);

            cb(start, end);
            
        });

        
        $(document).ready(function(){
            $("#submitform").submit();
        });
        </script>
    </body>
</html>
