<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HERE something was blocked!</title>
        <meta name="viewport" content="initial-scale=1.0, width=device-width">

        <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-pano.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/ru.js"></script>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>

        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

        <link rel="stylesheet" href={{ url_for("static", filename="css/app.css") }}>
        <link rel="stylesheet" href={{ url_for("static", filename="css/bootstrap.min.css") }}>
    </head>
    <body>
      <section>
        <div class="container">
          <div class="row mar-bot20">
            <div class="col-md-8 col-md-offset-2">
              <div class="align-center">
                <h2 align="center" style="padding-left:10px;color:#000">Карта блокировки датацентров</h2>
                <h4 align="center" style="padding-left:10px;color:#000">Где не стоит разворачивать свой сервис? Что новенького в реестре? Где находятся сервера, которые не любит ФСКН?</h4>
                <h5 align="center" style="padding-left:10px;color:#000">Радиус круга соотносится с количеством заблокированных IP-адресов на этой локации</h5>
                <h5 align="center" style="padding-left:10px;color:#000">Воспользуйтесь меню для фильтрации по ведомствам и дате внесения в реестр</h5>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container" align="center">
          <div class="row mar-bot40">
            <div class="align-center" style="margin-top: 30px; margin-bottom:25px;">
              <div class="row">
                <div class="col-sm-12 col-md-9 col-lg-9">
                  <div id="map-container" class="map"></div>
                </div>
                <div class="checkboxes">
                <div class="col-sm-12 col-md-2 col-lg-2 align-left" style="margin-top: 5vh; text-align:left; display:flex; flex-direction:column">
                  <form action="/filter" method="post" target="dummyframe" id="submitform">
                    <fieldset class="form-group">
                      <div class="custom-control custom-checkbox"><label><input type="checkbox" class="custom-control-input" id="select_all" checked><u>Выбрать все</u> </label></div>
                      <div class="custom-control custom-checkbox"><label><input type="checkbox" class="custom-control-input" id="FNS" name="FNS" checked><u>ФНС</u> </label></div>
                      <div class="custom-control custom-checkbox"><label><input type="checkbox" class="custom-control-input" id="COURT" name="COURT" checked><u>Суд</u> </label></div>
                      <div class="custom-control custom-checkbox"><label><input type="checkbox" class="custom-control-input" id="GP" name="GP" checked><u>Генпрокуратура</u> </label></div>
                      <div class="custom-control custom-checkbox"><label><input type="checkbox" class="custom-control-input" id="RKN" name="RKN" checked><u>Роскомнадзор</u> </label></div>
                      <div class="custom-control custom-checkbox"><label><input type="checkbox" class="custom-control-input" id="MVD" name="MVD" checked><u>МВД</u> </label></div>
                      <div class="custom-control custom-checkbox"><label><input type="checkbox" class="custom-control-input" id="FSKN" name="FSKN" checked><u>ФСКН</u> </label></div>
                      <div class="custom-control custom-checkbox"><label><input type="checkbox" class="custom-control-input" id="MGCOURT" name="MGCOURT" checked><u>Мосгорсуд</u> </label></div>
                      <div class="custom-control custom-checkbox"><label><input type="checkbox" class="custom-control-input" id="RPN" name="RPN" checked><u>Роспотребнадзор</u> </label></div>
                      <div class="custom-control custom-checkbox"><label><input type="checkbox" class="custom-control-input" id="MKS" name="MKS" checked><u>Минкомсвязь</u> </label></div>
                    </fieldset>
                    <div id="reportrange" name="reportrange" class="input-group mb-3" style="background: #fff; cursor: pointer; padding: 2px 2px;">
                      <div class="input-group">
                        <span class="input-group-addon" id="calendar"><span class="glyphicon glyphicon-calendar fa fa-calendar"><b class="caret"></b></span></span>
                      </div>
                      <input name="range" type="text" class="form-control"></input>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-info" id="submit_orgs" value="Фильтровать">
                  </form>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div id="chart-container" class="container" align="center"></div>
      </section>
      <section>
        <div class="container" align="center">
          <div class="row mar-bot40">
            <div class="align-center">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 5vh; margin-left: 5vw; text-align:left; display:flex; flex-direction:column">
                  <span style="margin-top:5px; margin-bottom:5px">При поддержке <a href="https://roskomsvoboda.org/">Роскомсвободы</a>, данные берутся из репозитория <a href="https://github.com/zapret-info/z-i/">zapret-info</a>.</span>
                  <span style="margin-top:5px; margin-bottom:5px">Последнее обновление: {{last_updated_time}} [<a style="margin: 4px !important;" href="{{last_updated_link}}">{{last_updated_sha}}</a>]</span>
                </div>
                <div class="row text-center" style="margin: 20px">
                  <span>
                    <a href="https://github.com/Pitovsky/BlockedMap">
                    <img src="{{ url_for("static", filename="img/GitHub-Mark-64px.png") }}" style="max-height: 1em; margin: 5px"/>Blocked.here</a>, 2018
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <script type="text/javascript">
        var platform = new H.service.Platform({
          app_id: "{{ app_id }}",
          app_code: "{{ app_code }}",
        });

        var iconUrl = "{{ url_for("static", filename="img/RKN_site_logo.png") }}";
      </script>

      <script src={{ url_for("static", filename="js/circles.js") }}></script>
      <script src={{ url_for("static", filename="js/helpers.js") }}></script>
      <script src={{ url_for("static", filename="js/bootstrap.min.js") }}></script>

    </body>
</html>
